<h2><%= @repository.full_name %></h2>

<p>Owner: <%= image_tag @repository.owner_image, width: 32 %> <%= @repository.owner %></p>

<h3>Branches</h3>
<div class="branches">
  <%= render @repository.branches %>
</div>
