html, body {
  margin: 0;
  font-family: monospace;
  color: $primary-color;
}

a, a:active, a:hover {
  color: $link-color;
}

a:visited {
  color: darken($link-color, 5%);
}

.wrapper {
  width: 800px;
  margin: 10px 0 0 10px;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.title {
  float: left;
}

.session {
  text-align: right;
  float: right;
}

.alert {
  color: $alert-color;
}

.notice {
  color: $notice-color;
}
